/* Reset Style Site todo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
    --Amarelo: #171b26;
    --Azul: #0b8090;
    --Branco: #FFF;
    --AzulEscuro: #0b5863;
    --Cinza: #8d8d8d;
}

/* Interface Geral */

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--AzulEscuro);
}

.interface {
    max-width: 1380px;
    padding: 0 4%;
    margin: 0 auto;
}

button {
    background-color: transparent;
    border: 2px solid var(--Branco);
    border-radius: 8px;
    color: var(--Branco);
    cursor: pointer;
    transition: .5s;
}

button:hover {
    background-color: var(--Amarelo);
    color: var(--Azul);
    scale: 1.1;

}

h1.titulo-section{
    font-size: 4rem;
    color: var(--Branco);
}

h1.titulo-section span {
    color: var(--Amarelo);
}

/* Cabeçalho */

header {
    background-color: transparent;
    padding: 16px 0;
    position: fixed;
    width: 100%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logotipo-cabecalho img{
    max-width: 200px;
}

header nav.menu-desktop ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 56px;
}

header nav.menu-desktop a {
    color: var(--Branco);
    text-decoration: none;
    font-size: 1.1rem;
    transition: .5s;
}

header nav.menu-desktop a:hover {
    color: var(--Amarelo);
}

header nav.menu-desktop button{
    width: 144px;
    height: 48px;
}

/* estilo da hero */

section.hero {
    background-image: linear-gradient(to left, var(--Azul) 70%, var(--Amarelo) 30%);
    padding-top: 144px;
}

.hero > .interface {
    display: flex;
    align-items: center;
    gap: 120px;
}

.hero .img-hero {
    line-height: 0;
}

.hero .txt-hero h1{
    font-size: 3rem;
    color: var(--Branco);
    font-weight: 300;
}

.hero .txt-hero h1 span{
    color: var(--Amarelo);
    display: block;
    font-weight: 800;
    font-size: 4rem;
}

.hero .txt-hero p{
    color:var(--Branco);
    line-height: 1.6;
    font-size: 1.2rem;
    margin: 24px 0;
}

.hero .txt-hero button {
    width: 200px;
    height: 48px;
}

/* estilo sobre mim */

section.sobre-mim{
    padding: 80px 0;
}

.sobre-mim > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 96px;
}

.sobre-mim .txt-sobre p{
    color: var(--Cinza);
    text-align: justify;
    line-height: 1.6;
    margin: 24px 0;
}

.sobre-mim .btn-redes button{
    width: 56px;
    height: 56px;
    font-size: 24px;
    margin-right: 8px;
}